# Get rid of hidden files except .gitignore
.*
!.gitignore

# Get rid of Python Compiled ByteCode
__pycache__

# Get rid of the build directories
build
dist

# Get rid build-time waste
iptool.egg-info